<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weekday Eats</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>

<body>
    <%- include('./partials/nav') %>
    <section id="hero">
    <h1>Weekday Eats</h1>
    <h2>Looking for quick and easy meals to cook on weekdays? <br>
    You've come to the right place!</h2>
    <a href="/recipes" class="button-link">Find a recipe</a>
    </section>
</body>

</html>